<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.torisumguide">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
       <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
       <!-- <meta-data
          android:name="com.google.android.geo.API_key"
          android:value="AIzaSyBEIMppS88yeUKirYr8eE_NaTskObeGml8"/> -->
            <!-- <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAidyyx75461PP4ZWVyJXMIWx1waT_e9JM" />
    </application>
    <!-- <application>
   //AIzaSyCGpGFEjQxBR0mXXpT2VQ8EaWJdYlpURNc
    

    </application> -->


</manifest>
